
<div class="container">
  <h1>Welcome to Blocmetrics!</h1>
  <h5>* Your helper to track web application events.</h5>
</div>

<div>
  <%= image_tag("metrics1.jpg", width: '1150px', height: '350px') %>
</div>

<div class = "selling points">
  <div class = "col-md-4">
    <h2>View Activities</h2>
    <span class="ion-stats-bars"></span>
    <p>BlocMetrics provides a glance of graphs and charts to monitor activities of your web application.</p>
  </div>
  <div class = "col-md-4">
    <h2>Track Events</h2>
     <span class="ion-pie-graph"></span>
     <p>Track individual pages and user interactions by name, frequency and date.</p>
  </div>
  <div class = "col-md-4">
    <h2>Improve Your Web</h2>
     <span class="ion-arrow-graph-up-right"></span>
     <p>The metrics ananlysis and graph will enable you to improve your site to attract more activities.</p>
  </div>

</div>
